@use "../../base/typography" as *;

footer {
  img {
    margin: 1em 0;
    width: 100%;
  }

  a {
    color: inherit;
    &:hover {
      color: hsl(122, 39%, 49%);
    }
  }

  & + p {
    @extend .typography__menunav_15px;
    text-align: center;
    padding: 1.875em 0;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    line-height: 1em;
  }
}
