@use "../../base/typography" as *;

.menunav {
  @extend .typography__menunav_15px;
  background-color: hsl(0, 0%, 100%);
  z-index: 1;
  position: fixed;
  width: 100vw;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 4px;

    li:first-child {
      flex: 2;

      strong {
        margin-right: 0.5333333333333333em;
      }
    }

    a {
      text-decoration: none;
      color: hsl(0, 0%, 0%);
      display: inline-block;
      &:hover {
        background-color: hsl(0, 0%, 80%);
      }
    }
  }
  &,
  ul a {
    padding: 0.5333333333333333em 1.0666666666666667em;
  }
}
