@use "./base/normalize" as *;

#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;

  header,
  .content,
  footer {
    grid-column: 2 / span 10;
  }

  footer + p {
    grid-column: 1 / span 12;
  }
}
