@use "./base/normalize" as *;

#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;

  .menunav {
    grid-column: 1 / span 12;
  }

  header {
    grid-column: 2 / span 10;
  }
}
